body {
    font-size: .875rem;
    padding-top: 70px; 
}
.navbar{
    height: 60px;
    background-color: #007bff;
}
.logo-a{
    height: 50px;
    width: auto;
    max-width: 100%;
}

/*side container*/
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    background-color: #0080ff;
    color: #fff;
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
}
@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}


/*side container basta an mga letters*/
.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}
.sidebar .nav-link.active {
    color: #007bff;
}
.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}
.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}
  
/*search bar*/
.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 10;
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    -ms-border-radius: 10;
    -o-border-radius: 10;
}