* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(rgba(84, 169, 71), rgba(73, 147, 62), rgba(73, 147, 62), rgba(34, 69, 28));
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background: rgb(46, 131, 33);
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo-link {
    display: inline-block;
}

.logo-a {
    height: 50px;
    width: auto;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s ease;
    padding: 10px 15px;
  }
  
  .navbar a:hover,
  .navbar a.active {
    color: #242424;
  }


.content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.map {
    width: 100%;
    max-width: 800px;
    text-align: start;
    color: #fff;
}

.map iframe {
    width: 100%;
    height: 600px;
    border: 0;
}